.wrapper {
  padding: 4px 8px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all linear 0.1s;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border-radius: 8px;
  user-select: none;

  position: relative;
}

.hoverOverlay {
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.hoverOverlayHigh {
  &:hover {
    background-color: rgba(0, 0, 0, 0.142);
  }
}

.circle {
  border-radius: 50% !important;
  background-color: var(--secondary-btn-background);
}

.hoverOverlayPrimary {
  background-color: #e7f3ff !important;
}

.active {
  color: var(--primary-deemphasized-button-text) !important;
  background-color: var(--primary-deemphasized-button-background) !important;

  &:hover {
    background-color: #4493fa37 !important;
  }
}
