.wrapper {
  display: flex;
  align-items: center;
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-active {
    display: none;
  }
  .underline {
    display: none;
  }

  .active {
    .icon-default {
      display: none;
    }
    .icon-active {
      display: flex;
    }
    .underline {
      display: block;
      position: absolute;
      bottom: -5px;
      left: 2px;
      right: 2px;
      height: 3px;
      background-color: var(--primary-btn-background);
      border-top-left-radius: 1px;
      border-top-right-radius: 1px;
    }
  }
}
