.wrapper {
  width: 100%;
  padding: 8px;
  position: relative;

  &:hover {
    .option-account {
      display: flex;
    }
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.avt-user {
  margin-right: 12px;
}

.wrapper-user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  font-family: var(--font-family);
  color: var(--primary-text);

  .username {
    font-size: 1.45rem;
    line-height: 1.3333;
  }

  .content {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 220px;
    line-height: 1.3;
    font-size: 1.3rem;
    text-align: left;
  }

  &.seen,
  &.sended {
    .username {
      font-weight: 400;
    }
  }

  &.unread {
    .username {
      font-weight: 600;
    }
    .content {
      color: var(--accent);
      font-weight: 600;
    }
  }

  &.hidden {
    .username {
      font-weight: 400;
    }
  }
}

.action {
  .unread {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--accent);
  }

  .sended {
    fill: var(--disabled-icon);
  }
}

.option-account {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;

  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;

  align-items: center;
  justify-content: center;

  border: 1px solid #ccc;
  box-shadow: 0 2px 6px var(--shadow-1);
  -webkit-box-shadow: 0 2px 6pxvar (--shadow-1);

  .icon {
    -webkit-filter: var(--filter-secondary-icon);
  }

  &:hover {
    background-color: var(--web-wash);
  }
}

.option {
  padding: 8px;
  min-width: 344px;
  width: 344px;

  .option-item {
    height: 36px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    p {
      margin-left: 12px;
      color: var(--primary-text);
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.3333;
    }
  }
}

.content-notification {
  text-align: left;
  font-size: 1.4rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow: hidden;

  span {
    font-weight: 600;
    color: var(--primary-text);
    font-size: 1.4rem;
    line-height: 1.3333;
  }
}

.tippy-hidden {
  position: absolute;
  left: -9999px;
}
