.message-popper {
  min-width: 360px;
  width: 360px;

  overflow-y: auto;
  position: relative;
  // min-height: 370px;
}

.header-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px 4px;

  .heading {
    color: var(--primary-text);
    font-size: 2.4rem;
    font-weight: 700;
  }

  .message-option {
    display: flex;
    align-items: center;
    justify-content: center;

    .btn-option-message {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

      .icon {
        -webkit-filter: var(--filter-secondary-icon);
      }
    }
  }
}

.search-message-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 52px;
  padding: 0 16px;

  transition: all linear 0.1s;

  .btn-back {
    color: var(--secondary-icon);
    padding: 0;
    border-radius: 50%;
    margin-left: -8px;
    margin-right: 8px;
    transition: all linear 0.1s;
  }
  .search-message-inner {
    flex: 1;

    display: flex;
    align-items: center;
    height: 36px;
    background-color: #f0f2f5;
    border-radius: 50px;
    transition: width linear 0.1s !important;

    label {
      padding-left: 10px;
      color: var(--secondary-icon);
    }

    input {
      font-family: var(--font-family);
      flex: 1;
      height: 100%;
      background-color: transparent;
      font-weight: 400;
      padding-bottom: 2px;
      font-size: 1.5rem;
      padding-left: 10px;
    }
  }
}

.body-message {
  padding: 0 8px 8px;
  margin-bottom: 38px;

  > span {
    font-weight: 600;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0.5;
    font-size: 1.4rem;
    margin: 10px 0;
  }
}

.footer-message {
  border-top: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;

  background-color: #fff;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  .inner {
    color: var(--blue-link);
    line-height: 1.3333;
    font-size: 1.4rem;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
}

.popper-search-message {
  width: 360px;
  height: calc(100vh - var(--header-height) - 150px);
  padding: 8px;
}
